*{	
	margin:0;
	padding:0;
	font-family: 'Hind Madurai';
}
/* Header Top And Menu */
.full-header-top{
	height:100vh;
	background-image: url(../_assets/backgrounds/background-figure.png); 
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 54.3em;
}
.header-container{
	margin-right: 80px;
	margin-left: 80px;	
}
.header-container .logo{
	padding:30px;
	margin-top: 30px;
	background: #62BEE7;
	width: 100px;
}
.header-text{
	max-width: 650px;
	margin-top: 80px;
}
.header-text h1{
	font-size: 63px;
	padding: 15px 0px;	
	color: #1c1c1c;
}
.header-text p{	
	font-weight: 400;	
	padding: 15px 0;
	color: #1c1c1c;
	font-weight: 400px;
}
.header-text button{
	padding: 16px 60px;
	background: transparent;
	border:none;
	background: #FF8E01;
	border-radius: 2rem;
	cursor: pointer;
	outline: none;
	font-weight: bold;
	border:2px solid #1c1c1c;	
}

#sidebar{
	width:250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	background: #FF8E01;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: .5s;
}
#sidebar.show{
	right: 0px;
}
#sidebar ul li{
	list-style: none;
	margin: 20px 40px;
}
#sidebar ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	display: block;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
#sidebar ul li a:before{
	content: '';	
	position: absolute;
	margin-top: 1rem;
	margin-right: 1rem;
	width: 6.5rem;
	height: 12px;
	background: #62BEE7;
	border-radius: 0.6rem;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s;
}
#sidebar ul li a:hover:before{
	transform: scaleX(1);
}
.social{
	display: flex;
	justify-content: center;

}
.social i{
	padding: 10px;
	color: #fcfcfc;
	font-size: 20px;
}
.social i:hover{
	color: #62BEE7;
}
.nav-icon{
    position: fixed;
    top:35px;
    right:65px;    
    width:50px;
    height:50px;
    z-index: 2;
    background: #FF8E01;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-icon span{
    background:#fcfcfc;
    width:30px;
    height:2px;
    border-radius: 10px;
    display:block;

    transition:300ms linear all;
}
.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
    width:20px;
    float:right;
}
.nav-icon span:nth-child(2){
    margin:5px 0;
    width:32px;
    float: right;
}
.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
    width:32px;
}
/*End Header-Top and Menu*/

/*Fill Icons*/
.fill-icons{
	margin-right: 80px;
	margin-left: 80px;	
	display: grid;
	grid-template-columns: repeat(4,1fr);	
	grid-gap: 10px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}
.fill-icons div:nth-child(1){
	grid-column: 1/5;
}
.fill-icons .title-icons h1{
	font-size: 30px;
	color: #1c1c1c;
	padding: 10px;
}
.fill-icons .title-icons h1:before{
	content: '';
	position: absolute;
	margin-top: 1.5rem;
	margin-right: 1rem;
	width: 8rem;
	height: 12px;
	background: #62BEE7;
	border-radius: 0.6rem;
	z-index: -1;
}
.fill-icons .title-icons p{
	font-size: 20px;
	color: #1c1c1c;
	padding: 10px;
	max-width: 600px;
}
.fill-icons .content{	
	display: flex;
	justify-content: center;
}
.fill-icons .content > div{
	max-width: 380px;
}
.content .content-icons img{
	height: 100px;
}
.content .text-icons h1{
	color: #1c1c1c;	
}
.content .text-icons p{
	font-weight: 500;
	color: #494646;
	padding: 10px;
}
/*End Fill Icons*/

/*About*/
.about{	
	padding: 10vh;
	position: relative;
	background-image: url(../_assets/backgrounds/background-figure-particles.png);	
	margin-right: 100px;
	margin-left: 100px;	
	display: flex;
	align-items: center;	
}
.about .title-about h1{
	color: #1c1c1c;	
	font-size: 30px;
	padding: 10px;
}
.about .title-about h1:before{
	content: '';
	position: absolute;
	margin-top: 1.5rem;
	margin-right: 1rem;
	width: 8rem;
	height: 12px;
	background: #62BEE7;
	border-radius: 0.6rem;
	z-index: -1;
}

.content-text p{
	text-align: justify;
	padding: 20px;
	font-size: 20px;
	font-weight: 500px;
}
/*End About*/

/*Count*/
.count{
	padding: 50px;
	background-image: url(../_assets/backgrounds/background-figure-4.png);
	background-repeat: no-repeat;
	background-position: center;	
	display: flex;	
}
.count h1{
	font-size: 30px;
	color: #1c1c1c;
	padding: 10px;		
}
.count h2{
	color: #1c1c1c;
	padding: 0px 10px;	
}
.count p{
	font-size: 20px;
	color: #1c1c1c;
	padding: 10px;
	max-width: 500px;
}
.icons-horario{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8rem;	
}
.icons-horario .circle{
	width: 80px;
	height: 80px;	
	border-radius: 12rem;
	border:0.8rem solid #fcfcfc;
	margin: 10px;	
}
.icons-horario .circle article {
	text-align: center;
	padding-top: 2px;
}
.icons-horario .circle article h1{
	padding: 0;
	color: #fcfcfc;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
	font-size: 33px;
}
.icons-horario .circle article span{
	padding: 0;
	color: #fcfcfc;
	font-size: 20px;	
}

/*End Count*/
/*Services*/
.services{
	padding: 20px;
	margin-right: 100px;
	margin-left: 100px;	
	display: flex;
	flex-direction: column;

}
.services .title-services h1{
	padding: 10px;
	font-size: 30px;
	color: #1c1c1c;
}
.services .title-services h1:before{
	content: '';
	position: absolute;
	margin-top: 1.5rem;
	margin-right: 1rem;
	width: 8rem;
	height: 12px;
	background: #62BEE7;
	border-radius: 0.6rem;
	z-index: -1;
}
.services .title-services p{
	font-size: 20px;
	color: #1c1c1c;
	padding: 10px;
	max-width: 600px;
}
.services .content-services{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;	
}
.services .content-services .figure-service div:nth-child(1){
	width:50px;
	height: 50px;
	background: #FF8E01;
	border-radius: 2em;
}
.services .content-services .figure-service div:nth-child(1) p{
	text-align: center;
	line-height: 3.2rem;
	color: #fcfcfc;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
	font-size: 25px;
	font-weight:  bold;
}
/*End Services*/

/*Galeria*/
.portolofio{
	padding: 20px;
	margin-right: 100px;
	margin-left: 100px;	
	display: flex;
	flex-direction: column;
}
.portolofio .title-portolofio h1{
	padding: 10px;
	font-size: 30px;
	color: #1c1c1c;
}
.portolofio .title-portolofio h1:before{
	content: '';
	position: absolute;
	margin-top: 1.5rem;
	margin-right: 1rem;
	width: 8rem;
	height: 12px;
	background: #62BEE7;
	border-radius: 0.6rem;
	z-index: -1;
}
.portolofio .title-portolofio .mybtncontainer{
	padding: 10px;	
	display: flex;
}
.portolofio .title-portolofio .mybtncontainer > button{
	margin: 5px;
	padding: 8px 20px;	
	border:none;
	outline: none;
	color: #1c1c1c;	
	font-size: 14px;
	border-radius: 2rem;
	background: #FF8E01;
	box-shadow: 5px 5px 10px rgba(0,0,0,.164);
	transition: 0.5s;
	color: #fcfcfc;
}
.portolofio .title-portolofio .mybtncontainer .btn.active {
	color: #fcfcfc;
	background: #1c1c1c;
}
.portolofio .title-portolofio .mybtncontainer > button:hover{
	color: #fcfcfc;
	background: #1c1c1c;
}
.portolofio .content-portofolio{
	display: flex;
	flex-direction: column;
}
.portolofio .content-portofolio .row{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 20px;
}
.portolofio .content-portofolio .row .column{
	box-shadow: 5px 5px 10px rgba(0,0,0,.164);
	border-radius: 12px;
	position: relative;
	
}
.show-column{
	display: block;
}
.portolofio .content-portofolio .row .column img{
	width: 100%;	
	height: 100%;
	border-radius: 12px;	
}
.portolofio .content-portofolio .row .column figcaption{
	opacity: 0;
	position: absolute;
	top: 0;
	padding: 10px;
	background-color: rgba(98, 190, 231,.9);
	box-sizing: border-box;
	width: 100%;
	height: 100%;	
	border-radius: 12px;
	transition: opacity 1s;	
}
.portolofio .content-portofolio .row .column figcaption:hover{
	opacity: 1;
}
.portolofio .content-portofolio .row .column figcaption h4{
	font-size: 25px;
	color: #fcfcfc;
	padding: 5px;
}
.portolofio .content-portofolio .row .column figcaption p{
	color:#fcfcfc;
	font-weight: 400;
	padding: 5px;
}
.portolofio .content-portofolio .row .column figcaption button{
	padding: 10px 35px;
	border-radius:2rem;
	outline: none;
	border:none;
	background: #FF8E01;
	font-size: 16px;
}
/*End Galeria*/

/*Equipa*/
.equipa{
	margin-right: 100px;
	margin-left: 100px;	
}
.equipa .title-equipa h1{
	padding: 10px;
	font-size: 30px;
	color: #1c1c1c;
}
.equipa .title-equipa h1:before{
	content: '';
	position: absolute;
	margin-top: 1.5rem;
	margin-right: 1rem;
	width: 8rem;
	height: 12px;
	background: #62BEE7;
	border-radius: 0.6rem;
	z-index: -1;
}
.equipa .title-equipa p{
	font-size: 20px;
	color: #1c1c1c;
	padding: 10px;
	max-width: 600px;
}
.equipa-content{	
	margin: 1rem;	
}
.equipa-content .equipa-item{
	display: flex;
	flex-direction: column;	
}
.equipa-content .equipa-item img{
	width: 250px;
	height: 350px;	
	position: relative;
}
.equipa-content .equipa-item figcaption{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0px;
	background: #fcfcfc;
	width: 100%;	
}
/*End Equipa*/

/*Contador*/
.contador{
	padding: 30px;
	position: relative;
	background:red;	
	display: flex;	
}
/*End Contador*/






































/*Formatacao*/
.mt-5{
	margin-top: 3vh;
}
/*End Formatacao*/